/* Project-specs Details */
.details h2 {
  margin-top: 80px;
  font-size: 3.5em;
}

.details h3 {
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: 400;
  color: lightgray;
}

.details p {
  color: lightgray;
}

.html {
  margin-top: 2rem;
}

.featured {
  margin-bottom: 3rem;
}
