@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Base Styling */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato";
  color: rgb(235, 212, 85);
}

html,
body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, #49545b, #900c3f);
  background-repeat: no-repeat;
}

p {
  margin: 1.5rem auto;
  line-height: 1.5em;
}

/* Layout */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  position: relative;
  margin-left: 2rem;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: rgb(218, 141, 26);
  transform: translateY(0.1rem);
}

nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: aliceblue;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

nav a:hover:after {
  transform: scaleX(1) translateY(0.1rem);
  transform-origin: bottom left;
}

footer p {
  text-align: center;
  color: #bab;
  margin: 3rem auto;
}
