/* Home page Mods */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.header h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.header h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: lightgray;
}

.header p {
  color: rgb(235, 212, 85);
}

.btn {
  display: inline-block;
  color: #444;
  background: rgb(172, 107, 238);
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  margin-top: 1.8rem;
}

.btn:hover {
  background: #000;
  color: rgb(218, 141, 26);
  transform: translateY(-0.5rem);
  transition: transform 0.5s ease-out;
}

.img {
  border-radius: 0.7rem 5rem;
}
