/* Base styling */
.portfolio {
  text-align: center;
}

.portfolio > h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

.portfolio > h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 2rem;
  color: lightgray;
}

/* Project layout */
.projects {
  margin: 4rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.projects h3 {
  margin: 2rem auto 0px;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.projects p {
  margin-top: 0.5rem;
  color: lightgray;
  font-weight: 300;
}
